@page
@model DWF.Pages.CoachRegistratie

@{

}

<!DOCTYPE html>

<html>
<head>
  <title></title>
    <link rel="stylesheet" href="css/Registratie.css">
</head>
<body>
<div class="flexcontainer">
  <div class="rolContainer">
    <a class="btn btn-lg left rolKnoppen" href="/StudentRegistratie">Student</a>
    <a class="btn btn-lg middle rolKnoppen active">Coach</a>
    <a class="btn btn-lg right rolKnoppen" href="/OndernemerRegistratie">Ondernemer</a>
  </div>

<div class="form">
  <form method="post" novalidate>
        <div class="form-group">
          <label for="emailInput" class="form-label">E-mailadres</label>
          <input type="email" asp-for="Email"
                 id="emailInput"
                 class="form-control"
                 required>
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    
        <div class="form-group">
          <label for="wachtwoordInput" class="form-label">Wachtwoord</label>
          <input type="password" asp-for="Wachtwoord"
                 id="wachtwoordInput"
                 placeholder="Uw wachtwoord moet minimaal 8 en maximaal 16 characters lang zijn, 1 hoofdletter en 1 cijfer bevatten."
                 class="form-control"
                 required>
          <span asp-validation-for="Wachtwoord" class="text-danger"></span>
        </div>
    
        <div class="form-group">
          <label for="voornaamInput" class="form-label">Voornaam</label>
          <input type="text" asp-for="Voornaam"
                 id="voornaamInput"
                 class="form-control"
                 required>
          <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
    
        <div class="form-group">
          <label for="achternaamInput" class="form-label">Achternaam</label>
          <input type="text" asp-for="Achternaam"
                 id="achternaamInput"
                 class="form-control"
                 required>
          <span asp-validation-for="Achternaam" class="text-danger"></span>
        </div>

    <div class="text-danger">@Model.Bericht</div>

    <button type="submit" class="btn btn-lg btn-primary">Registreer</button>


  </form>
</div>
</div>
</body>
</html>