@page
@model DWF.Pages.CoachHomepagina

@{

}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/css/Opdrachten.css")" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="head">Coach omgeving</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Overzicht Taken Opleiding 1</li>
                <li class="list-group-item d-flex justify-content-between flex-column">
                    <p>Op dit moment niet beschikbaar</p>
                </li>    
            </ul>
        </div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Overzicht Taken Opleiding 2</li>
                <li class="list-group-item d-flex justify-content-between flex-column">
                    <p>Op dit moment niet beschikbaar</p>
                </li>    
            </ul>
        </div>   
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Overzicht Taken Opleiding 3</li>
                <li class="list-group-item d-flex justify-content-between flex-column">
                    <p>Op dit moment niet beschikbaar</p>
                </li>    
            </ul>
        </div>
    </div>
    <div class="col-4">Recente activiteiten</div>
</div>
</body>
</html>