@page
@using WebMatrix.Data
@model DWF.Pages.Homepaginastudents

@{
}
    <!DOCTYPE html>
<div class="border-top">
    <a class="active" href="#uitloggen">uitloggen</a>
</div>

<input type="text" placeholder="zoekopdracht..">
<p1>Beschikbare taken</p1>

<div class="studentendata">
    {
</div>
<div class="col-md-6">
    <a> opdracht1</a>
    <button type="button">bekijk opdracht</button>
        </div>
    
<div class="col-md-6">
    <a>opdracht2</a>
    <button type="button">bekijk opdracht</button>
</div>
    
<div class="col-md-6">
    <a>opdracht3</a>
    <button type="button">bekijk opdracht</button>
</div>

<div class="col-md-6">
    <a>opdracht4</a>
    <button type="button">bekijk opdracht</button>
</div>
<html/>



