@page
@using WebMatrix.Data
@model DWF.Pages.Homepaginastudents

@{

    <!DOCTYPE html>
    <div class="border-top">
        <a class="active" href="#uitloggen">uitloggen</a>
    </div>
    <br>
    <br/>
    <input type="text" placeholder="zoekopdracht..">
    <br>
    <br/>
<p1>Beschikbare taken: </p1>
    <br>
    <div class="studentendata">
    </div>
    <br>
<div class="col-md-6">
    <a> opdracht 1</a>
    <button type="button">bekijk opdracht</button>
        </div>
    <br>
<div class="col-md-6">
    <a>opdracht 2</a>
    <button type="button">bekijk opdracht</button>
</div>
  <br>  
<div class="col-md-6">
    <a>opdracht 3</a>
    <button type="button">bekijk opdracht</button>
</div>
<br>
    <div class="col-md-6">
        <a>opdracht 4</a>
        <button type="button">bekijk opdracht</button>
        <br>
    </div>
    }
    <html></html>


