@page
@model DWF.Pages.OpdrachtenPagina

@{
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/css/Opdrachten.css")" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="head">Opdrachten</h1>
            </div>
        </div>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </a>
        
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Filter optie 1</a>
                <a class="dropdown-item" href="#">Filter optie 2</a>
                <a class="dropdown-item" href="#">Filter optie 3</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Opdracht 1</p>
                    </li>  
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Opdracht 2</p>
                    </li>   
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Opdracht 3</p>
                    </li>   
                    
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>