@page
@model DWF.Pages.Registratie

@{
}

<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="css/Registratie.css">
  <title></title>
</head>
<body>
<div>
  <div class="rolContainer">
      <a class="btn btn-lg left rolKnoppen" href="/StudentRegistratie">Student</a>
      <a class="btn btn-lg middle rolKnoppen" href="/CoachRegistratie">Coach</a>
      <a class="btn btn-lg right rolKnoppen" href="/OndernemerRegistratie">Ondernemer</a>
    </div>

  <p id="welkomTekst">test</p>
  
</div>
</body>
</html>