@page
@model DWF.Pages.Statistieken

@{
    Layout = "Shared/_Triage";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/css/TriagePagina's.css")" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="kop">Statistieken</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>