@page
@model DWF.Pages.TriageHomepagina

@{
    Layout = "Shared/_Triage";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/css/TriagePagina's.css")" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="kop">Triage Homepagina</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Alle gaande opdrachten</li>
                @if (Model.opdrachten.Count != 0)
                {
                    @foreach (var opdracht in Model.opdrachten)
                    {
                        <form method="post">
                            <input asp-for="opdrachtId" value="@opdracht.opdracht_id" type="hidden">
                            <li class="list-group-item d-flex justify-content-between">
                                @opdracht.opdracht_naam
                                <button asp-page-handler="Bekijk" class="btn btn-secondary">Bekijk</button>
                            </li>
                        </form>
                    }
                }
                else
                {
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Er zijn op dit moment geen opdrachten gaande</p>
                    </li>
                }
            </ul>
        </div>

        <div class="col-2"></div>

        <div class="col-4">Recente activiteiten</div>

        <div class="col-1"></div>
    </div>
</div>
</body>
</html>