@page
@model IndexModel
@{
    ViewData["Title"] = "Home pagina ";
}

<div class="text-center"></div>
<h1 class="display-4">Welkom op ons Webportaal</h1>


<body>
    Lorem Lorem
    Lorem Lorem
    Lorem Lorem
    Lorem Lorem
    Lorem Lorem
    Lorem Lorem


</body>
