# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.DWF.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ianbe\Documents\P4-project\DWF\.idea\.idea.DWF.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
